{% extends 'layout.html' %}

{% block body %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="mt-5">Welcome to League Data</h1>
            <h2 class="mt-5">Retreive your summoner statistics in great detail</h2>
            <p>Before you start, we will need these three information about the summoner you wish to search:</p>
            <p>1. Summonername</p>
            <p>2. Region corresponding to the summonername</p>
            <p>3. YOUR Riot Games API Key which can be retreived <a href="https://developer.riotgames.com/" target="_blank">here</a></p>
            <p>   - note that your API Key is only valid for 24 horus,</p>
            <p>     you will have to request a new one when it expires</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}