{% extends 'layout.html' %}

{% block body %}
	<!-- RANK -->
	&nbsp;&nbsp;&nbsp;
	<div class="row mb-2">
        <div class="col-md-6">
          	<div class="card bg-light solo-md-row mb-4 shadow-sm h-md-250 border-info">
				<div class="card-body d-solo solo-column align-items-start" style="display: inline;">
					<div>
						<img src="{{ url_for('static', filename='profileicon/') }}{{ summoner.iconId }}.png" style="width: 60px; height: 60px;">
						<h1 style="display: inline; vertical-align: middle;">{{ summoner.summonername }}</h1>
					</div>
					<br>
					<div class="row">
						&nbsp;&nbsp;&nbsp;
						<div class="column">
							<img class="card-img-right solo-auto d-none d-lg-block tier-emblem" style="width: 200px; height: 200px;" src="{{ url_for('static', filename='emblems/') }}{{ summoner.soloRankData.tier_emblem_png }}.png">
						</div>
						<div class="column" style="margin: 0 auto;">
							<strong class="card-text d-inline-block mb-2 text-primary">Solo</strong>
							<h3 class="card-text mb-0">{{ summoner.soloRankData.tier }} {{ summoner.soloRankData.rank }}</h3>
							<p class="card-text mb-1 text-muted">{{ summoner.soloRankData.leagueName }}</p>
							<p class="card-text mb-1">{{ summoner.soloRankData.points }} LP</p>
							<p class="card-text mb-auto">{{ summoner.soloRankData.wins }} Wins / {{ summoner.soloRankData.losses }} Losses</p>
							<p class="card-text mb-auto"><strong>Win Ratio: {{ summoner.soloRankData.winrate }}%</strong></p>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
	
	<!-- GAMES -->
	<div class="container">
		<div class="row">
			<div class="col>
				{% for game in matches10 %}
				<div class="dropdown gamelist">
					<button class="btn btn-light dropdown-toggle gamelist_button btn-outline-info" type="button" data-toggle="dropdown">
						GAME {{ game.index }}
					<span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li class="dropdown-header">
							<div class="panel panel-info">
								<div class="panel-body">
									<table class="GameDetailTable table table-danger">
										<thead class="Header">
											<tr class="Row">
												<th class="HeaderCell" colspan="2">Info</th>
												<th class="HeaderCell">Items</th>
												<th class="HeaderCell">KDA</th>
												<th class="HeaderCell">DamageDealt</th>
												<th class="HeaderCell">DamageTaken</th>
												<th class="HeaderCell">Wards</th>
												<th class="HeaderCell">CS</th>
											</tr>
										</thead>
										{% for player in game.team1.players %}
										<tbody class="Content">
											<tr class="Row">
												<td class="ChampionImageAndSpells Cell">
													<img src="{{ url_for('static', filename='champion/') }}{{ player.champion }}.png" style="width: 50px; height: 50px;">
													<p class="mb-1 text-muted">Level {{ player.level }}</p>
													<img src="{{ url_for('static', filename='spells/') }}{{ player.spell1 }}.png" style="width: 20px; height: 20px;">
													<img src="{{ url_for('static', filename='spells/') }}{{ player.spell2 }}.png" style="width: 20px; height: 20px;">
												</td>
												<td class="SummonerName Cell">
													<p class="SummonerName" style="vertical-align: middle"><strong>{{ player.summonerName }}</strong></p>
												</td>
												<td class="Items Cell">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[0] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[1] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[2] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[3] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[4] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[5] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[6] }}.png" style="width: 30px; height: 30px; vertical-align: middle;">
												</td>
												<td class="KDA Cell">
													<div class="KDA">
														<p class="KDAFull">{{ player.kills }} / {{ player.assists }} / {{ player.deaths }}</p>
														<p class="KDARatio text-muted">{{ player.KDARatio }}%</p>
													</div>
												</td>
												<td class="DamageDealt Cell tip" title="total damage inflicted to champions">
													{{ player.totalDmgToChmps }}
												</td>
												<td class="DamageTaken Cell tip" title="total damage received to champions">
													{{ player.totalDmgTaken }}
												</td>
												<td class="VisionWards Cell tip">
													{{ player.visionWards }}
												</td>
												<td class="CS Cell">
													<div class="CS">
														<p class="CSFull">{{ player.creepsKilled }}</p>
														<p class="CSPerMinute text-muted">({{ player.creepsPM }} /m)</p>
													</div>
												</td>	
											</tr>
										</tbody>
										{% endfor %}
									</table>
									<table class="GameDetailTable table table-primary">
										<thead class="Header">
											<tr class="Row">
													<th class="HeaderCell" colspan="2">Info</th>
													<th class="HeaderCell">Items</th>
													<th class="HeaderCell">KDA</th>
													<th class="HeaderCell">DamageDealt</th>
													<th class="HeaderCell">DamageTaken</th>
													<th class="HeaderCell">Wards</th>
													<th class="HeaderCell">CS</th>
											</tr>
										</thead>
										{% for player in game.team2.players %}
										<tbody class="Content">
											<tr class="Row">
												<td class="ChampionImageAndSpells Cell">
													<img src="{{ url_for('static', filename='champion/') }}{{ player.champion }}.png" style="width: 50px; height: 50px;">
													<p class="mb-1 text-muted">Level {{ player.level }}</p>
													<img src="{{ url_for('static', filename='spells/') }}{{ player.spell1 }}.png" style="width: 20px; height: 20px;">
													<img src="{{ url_for('static', filename='spells/') }}{{ player.spell2 }}.png" style="width: 20px; height: 20px;">
												</td>
												<td class="SummonerName Cell">
													<p class="SummonerName" style="vertical-align: middle"><strong>{{ player.summonerName }}</strong></p>
												</td>
												<td class="Items Cell">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[0] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[1] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[2] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[3] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[4] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[5] }}.png" style="width: 30px; height: 30px;">
													<img src="{{ url_for('static', filename='items/') }}{{ player.itemIDs[6] }}.png" style="width: 30px; height: 30px; vertical-align: middle">
												</td>
												<td class="KDA Cell">
													<div class="KDA">
														<p class="KDAFull">{{ player.kills }} / {{ player.assists }} / {{ player.deaths }}</p>
														<p class="KDARatio text-muted">{{ player.KDARatio }}%</p>
													</div>
												</td>
												<td class="DamageDealt Cell tip" title="total damage inflicted to champions">
													{{ player.totalDmgToChmps }}
												</td>
												<td class="DamageTaken Cell tip" title="total damage received to champions">
													{{ player.totalDmgTaken }}
												</td>
												<td class="VisionWards Cell tip">
													{{ player.visionWards }}
												</td>
												<td class="CS Cell">
													<div class="CS">
														<p class="CSFull">{{ player.creepsKilled }}</p>
													<p class="CSPerMinute text-muted">({{ player.creepsPM }} /m)</p>
													</div>	
												</td>	
											</tr>
										</tbody>
									{% endfor %}
									</table>
								</div>
							</div>
						</li>
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}