{% extends 'layout.html' %}

{% block body %}
    <section>
      <div class="form-section container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="mt-5">Match History and Summoner Profile</h2>
            <p>Before you start, you will need these two information:</p>
            <p>1. Player's Summoner Name</p>
            <p>2. Riot Games API Key which can be retreived <a href="https://developer.riotgames.com/" target="_blank">here.</a></p>
            <p> NOTE: One's API Key is only valid for 24 hours, you will have to regenerate a new one when it expires</p>

            <div class="content-section">
              <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4"></legend>
                  <div class="form-group">
                    {{ form.summonername(class="form-control form-control-lg", placeholder="summoner name") }}
                  </div>
                  <div class="form-group">
                    {{ form.api(class="form-control form-control-lg", placeholder="api key") }}
                  </div>
                </fieldset>
                <div class="form-group">
                  {{ form.submit(class="btn btn-info") }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}